// Variables

// Gray and Brand Colors for use across theme

$theme-primary:			#fed136;
$theme-danger:			#e74c3c;

// Create grayscale
$gray-dark:				#292b2c !default;
$gray:					#464a4c !default;
$gray-light:			#636c72 !default;
$gray-lighter:			#eceeef !default;
$gray-lightest:			#f7f7f9 !default;