footer.py-4.bg-light.mt-auto
    .container-fluid.px-4
        .d-flex.align-items-center.justify-content-between.small
            .text-body-secondary
                | Copyright &copy; Your Website 2024
            div
                a(href='#') Privacy Policy
                | 
                | &middot;
                | 
                a(href='#') Terms &amp; Conditions
