block scripts
    //- Load jQuery
    script(src='https://code.jquery.com/jquery-3.5.1.min.js', crossorigin='anonymous')
    //- Load Bootstrap JS Bundle
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js', crossorigin='anonymous')
    //- Load Global Template Scripts
    script(src='js/scripts.js')
