block scripts
    //- Load Bootstrap JS Bundle
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js', crossorigin='anonymous')
    //- Load Global Template Scripts
    script(src='js/scripts.js')
