// Dark theme for sidenav
// Append .sb-sidenav-dark to .sb-sidenav to use

.sb-sidenav-dark {
  background-color: $gray-900;
  color: fade-out($white, 0.5);
  .sb-sidenav-menu {
    .sb-sidenav-menu-heading {
      color: fade-out($white, 0.75);
    }
    .nav-link {
      color: fade-out($white, 0.5);
      .sb-nav-link-icon {
        color: fade-out($white, 0.75);
      }
      .sb-sidenav-collapse-arrow {
        color: fade-out($white, 0.75);
      }
      &:hover {
        color: $white;
      }
      &.active {
        color: $white;
        .sb-nav-link-icon {
          color: $white;
        }
      }
    }
  }
  .sb-sidenav-footer {
    border-top: 0.0625rem solid fade-out($white, 0.9);
  }
}
