h1.mt-4 #{pageTitle}
if index
    ol.breadcrumb.mb-4
        li.breadcrumb-item.active #{pageTitle}
else
    ol.breadcrumb.mb-4
        li.breadcrumb-item
            a(href='index.html') Dashboard
        li.breadcrumb-item.active #{pageTitle}
