nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark

    // Navbar Brand
    a.navbar-brand.ps-3(href='index.html')
        | Start Bootstrap

    // Sidebar Toggle
    button#sidebarToggle.btn.btn-link.btn-sm.order-1.order-lg-0.me-4.me-lg-0(href='#!')
        i.fas.fa-bars

    // Navbar Search
    form.d-none.d-md-inline-block.form-inline.ms-auto.me-0.me-md-3.my-2.my-md-0
        .input-group
            input.form-control(type='text', placeholder='Search for...', aria-label='Search for...', aria-describedby='btnNavbarSearch')
            button#btnNavbarSearch.btn.btn-primary(type='button')
                i.fas.fa-search

    // Navbar
    ul.navbar-nav.ms-auto.ms-md-0.me-3.me-lg-4
        li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                i.fas.fa-user.fa-fw
            ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdown')
                li
                    a.dropdown-item(href='#!') Settings
                li
                    a.dropdown-item(href='#!') Activity Log
                li
                    hr.dropdown-divider
                li
                    a.dropdown-item(href='#!') Logout

