extends ../layouts/error.pug

block content
    .container
        .row.justify-content-center
            .col-lg-6
                .text-center.mt-4
                    h1.display-1 401
                    p.lead Unauthorized
                    p Access to this resource is denied.
                    a(href='index.html')
                        i.fas.fa-arrow-left.mr-1
                        | Return to Dashboard
