extends ../layouts/error.pug

block content
    .container
        .row.justify-content-center
            .col-lg-6
                .text-center.mt-4
                    img.mb-4.img-error(src='assets/img/error-404-monochrome.svg')
                    p.lead This requested URL was not found on this server.
                    a(href='index.html')
                        i.fas.fa-arrow-left.mr-1
                        | Return to Dashboard
