extends ../layouts/dashboard-fixed.pug

block config
    - var pageTitle = 'Fixed Navigation'
    - var sidenavStyle = 'sb-sidenav-dark'

block content
    .container-fluid
        include includes/page-header.pug
        
        .card.mb-4
            .card-body.
                This page is an example of using fixed navigation. By adding the <code>.sb-nav-fixed</code> class to the <code>body</code> tag, the top navigation and side navigation will become fixed on scroll. Scroll down this page to see an example.
        
        div(style='height: 100vh;')
            
        .card.mb-4
            .card-body
                | When scrolling, the navigation stays in place. This is the end of the fixed navigation demo page.
