extends ../layouts/dashboard.pug

block config
    - var pageTitle = 'Static Navigation'
    - var sidenavStyle = 'sb-sidenav-dark'

block content
    .container-fluid.px-4
        include includes/page-header.pug
        
        .card.mb-4
            .card-body
                p.mb-0.
                    This page is an example of using static navigation. By removing the <code>.sb-nav-fixed</code> class from the <code>body</code>, the top navigation and side navigation will become static on scroll. Scroll down this page to see an example.
        
        div(style='height: 100vh;')
            
        .card.mb-4
            .card-body
                | When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.
