extends ../layouts/authentication.pug

block content
    .container
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3.text-center.font-weight-light.my-4 Password Recovery
                    .card-body
                        .small.mb-3.text-muted Enter your email address and we will send you a link to reset your password.
                        form
                            .form-group
                                label.small.mb-1(for='inputEmailAddress') Email
                                input#inputEmailAddress.form-control.py-4(type='email', aria-describedby='emailHelp', placeholder='Enter email address')
                            .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                a.small(href='login.html') Return to login
                                a.btn.btn-primary(href='login.html') Reset Password
                    .card-footer.text-center
                        .small
                            a(href='register.html') Need an account? Sign up!
