extends ../layouts/authentication.pug

block config
    - var pageTitle = 'Register'

block content
    .container
        .row.justify-content-center
            .col-lg-7
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3.text-center.font-weight-light.my-4 Create Account
                    .card-body
                        form
                            .row.mb-3
                                .col-md-6
                                    .form-floating.mb-3.mb-md-0
                                        input#inputFirstName.form-control(type='text', placeholder='Enter your first name')
                                        label(for='inputFirstName') First name
                                .col-md-6
                                    .form-floating
                                        input#inputLastName.form-control(type='text', placeholder='Enter your last name')
                                        label(for='inputLastName') Last name
                            .form-floating.mb-3
                                input#inputEmail.form-control(type='email', placeholder='name@example.com')
                                label(for='inputEmail') Email address
                            .row.mb-3
                                .col-md-6
                                    .form-floating.mb-3.mb-md-0
                                        input#inputPassword.form-control(type='password', placeholder='Create a password')
                                        label(for='inputPassword') Password
                                .col-md-6
                                    .form-floating.mb-3.mb-md-0
                                        input#inputPasswordConfirm.form-control(type='password', placeholder='Confirm password')
                                        label(for='inputPasswordConfirm') Confirm Password
                            .mt-4.mb-0
                                .d-grid
                                    a.btn.btn-primary.btn-block(href='login.html') Create Account
                    .card-footer.text-center.py-3
                        .small
                            a(href='login.html') Have an account? Go to login
