extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Tables'
    - var sidenavStyle = 'sb-sidenav-dark'
    
prepend css
    //- Load Simple DataTables Stylesheet
    link(href='https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css', rel='stylesheet')

block content
    .container-fluid.px-4
        include includes/page-header.pug
        .card.mb-4
            .card-body.
                DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the  <a target='_blank' href='https://datatables.net/'>official DataTables documentation</a>.
        .card.mb-4
            .card-header
                i.fas.fa-table.me-1
                | DataTable Example
            .card-body
                include includes/datatable.pug


append scripts    
    //- Load Simple DataTables Scripts
    script(src='https://cdn.jsdelivr.net/npm/simple-datatables@latest', crossorigin='anonymous')
    script(src='js/datatables-simple-demo.js')